*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aquamarine;
}
.main_class {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hello_world {
    padding: 50px;
    color: whitesmoke;
    text-align: center;
    background-color: orangered;
}
